
target/classes/com/test/groceries/groceries_project/generator/PersonsGenerator.class
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/com.test.groceries/groceries-project/pom.properties
target/classes/META-INF/maven/com.test.groceries/groceries-project/pom.xml
target/groceries-project-1.0-SNAPSHOT.jar
target/groceries-report/jacoco-sessions.html
target/groceries-report/jacoco.xml
target/jacoco.exec
target/maven-archiver/pom.properties
